
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- fonts-->
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro&display=swap" rel="stylesheet">
    
    <style>


html, body {
margin: 0;
width: 297mm;
height: 420mm;
/* font-family: 'Advent Pro', sans-serif; */
/* font-weight: 600; */
background-color: rgb(226,255,188);
border: dotted 1px black;
}

</style>

    <title>LPZ testposter</title>

</head>
<body>
    <h1>Hello {{ data.0.ward_name }}</h1>
    <p>Full data: {{ data }}</p>

    <p>Ward code: {{ data.ward_code }}</p>
    <p>Can I index this somehow? First column: {{ data.type_ward }}</p>

    <p>D_QF_Prev_ACP_mean_team: {{ data.d_qf_rev_acp_mean_team }}</p>



</body>
</html>
